<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UrlWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7777/ws" binding="basicHttpBinding"
                bindingConfiguration="UrlWebServicePortBinding" contract="ServiceReference1.UrlWebService"
                name="UrlWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>